<div class="search-wrapper">
     <form class="search-form" id="search-form">
    <input
    class="form-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="btn">Search</button>
 </div>
  </form>
  <div class="gallery">



  </div>
  <div class="btn-wrapper"><button type="button" class="load-more btn">Load more</button></div>


<!-- <div class="photo-card">
  <img src="${o.webformatURL}" alt="${o.tags}" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>Likes</b>
      <b>${o.likes}</b>
    </p>
    <p class="info-item">
      <b>Views</b>
      <b>${o.views}</b>
    </p>
    <p class="info-item">
      <b>Comments</b>
      <b>${o.comments}</b>
    </p>
    <p class="info-item">
      <b>Downloads</b>

      <b>${o.downloads}</b>
    </p>
  </div>
</div> -->